<div class="container">
  
    <div class="layout">
      <div class="col col1">
        <form #addTaskForm="ngForm" (ngSubmit)="addItem(addTaskForm)">
            <input name="task" id="task" ngModel />
            <button>Add New Task</button>
        </form>
      </div>
      <div class="col col2" role="complementary">
        <h3>What are we doing today?</h3>
          <ul *ngfor="let item of items">
            <li *ngIf="item.completed === true">#{{item.id}}: {{item.task}}</li>
            <li *ngIf="item.completed === false"><button (click)="markItemComplete(item.id)">Mark Complete</button> #{{item.id}}: {{item.task}}</li>
          </ul>
      </div>    
    </div>  
</div>