.centerElement{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.leftFloat{
    float: left;
}

.halfWidth{
     width: 50%;
}

#countryFlag {
    width: 120px;
    height: 60.5px;
    background-color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #ffffff;
}

div{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 700px;
}

#Color1{
    background-color: #3A3CC5;
}

#Color2{
    background-color: #C5C33A;
}

#Color3{
    background-color:#ffffff;
}