<hr>
<label for="hometown">Home Town: </label>
<input name="hometown" [(ngModel)]="homeTown"/>
<br>
<label for="profession">Profession: </label>
<input name="profession" [(ngModel)]="profession"/>
<br>
<label for="luckyNumber">Lucky Number: </label>
<input name="luckyNumber" [(ngModel)]="luckyNumber"/>
<br>
<label for="hero">Hero: </label>
<input name="hero" [(ngModel)]="hero"/>
<br>
<label for="favoriteFood">Favorite Food: </label>
<input name="favoriteFood" [(ngModel)]="favoriteFood"/>
<br>
<label for="favoriteGame">Favorite Game: </label>
<input name="favoriteGame" [(ngModel)]="favoriteGame"/>
<br>
<label for="favoriteColor">Favorite Color: </label>
<input name="favoriteColor" [(ngModel)]="favoriteColor"/>
<br>
<p>I have spent my whole life working as
    a {{ profession }} in {{ homeTown }}</p>
<p>My lucky number is {{luckyNumber}}.</p>
<p>My hero is {{hero}} because he's just a guy</p>  
<p>I love to eat {{favoriteFood}} while I play {{favoriteGame}}</p>
<p>My favorite color is {{favoriteColor}}</p>
